<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST_Assured_Test_Suite">
    <listeners>
        <listener class-name="org.Testing.API.ExtentTestNGITestListener"/>
    </listeners>
    <test name="REST_Assured_Test">
        <classes>
            <class name="org.Testing.API.TestAPI"/>
        </classes>
    </test>
</suite>